{%- trans_default_domain 'cms' %}
<nav aria-label="{{- "common.text.breadcrumbs"|trans -}}" class="">
    <ol class="breadcrumb mb-0" itemscope itemtype="http://schema.org/BreadcrumbList">
        {%- for crumb in breadcrumbs %}
            {%- if not crumb.route or loop.last %}
                <li class="breadcrumb-item active" aria-current="page" {#
                #}itemprop="itemListElement" itemscope {#
                    #}itemtype="http://schema.org/Thing">
                    {{- crumb.name|raw -}}
                    <meta itemprop="position" content="{{- loop.index -}}"/>
                </li>
            {%- else %}
                <li class="breadcrumb-item" {#
                #}itemprop="itemListElement" itemscope {#
                    #}itemtype="http://schema.org/ListItem">
                    <a href="{{- url(crumb.route, crumb.routeParams) -}}">
                        {{- crumb.name|raw -}}
                    </a>
                    <meta itemprop="position" content="{{- loop.index -}}"/>
                </li>
            {%- endif %}
        {%- endfor %}
    </ol>
</nav>