{%- trans_default_domain 'cms' -%}
{%- apply spaceless -%}
    <!doctype html>
    <html lang="{{ app.request.locale }}" class="h-100">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{%- block meta_title page_title|default("")|striptags %}</title>
        {%- block stylesheets %}{%- endblock %}
    </head>
    <body class="min-vh-100">
    {%- block body %}
        <div class="min-vh-100 d-flex">
            <aside class="aside d-flex flex-column bg-dark {{ app.request.cookies.get('aside-closed', 0) ? 'closed' }}"
                   id="aside">
                {%- block aside %}
                    <div class="aside-header text-center">
                        <button type="button" id="sidebar-close"
                                class="btn btn-danger {{ app.request.cookies.get('aside-closed', 0) ? 'd-none' }}" {#
                                #}data-bs-dismiss="toast" {#
                                #}aria-label="{{ 'common.close'|trans }}">
                            <span aria-hidden="true"><i class="far fa-chevron-left"></i></span>
                        </button>
                        <button type="button" id="sidebar-open"
                                class="btn btn-success {{ not app.request.cookies.get('aside-closed', 0) ? 'd-none' }}">
                            <span aria-hidden="true"><i class="far fa-chevron-right"></i></span>
                        </button>
                        <p class="text-white mb-0 fw-bold">
                            <small>
                                {{- app.user.systemName -}}
                            </small><br>
                            <a href="{{ logout_path('cms') }}" class="logout-link" role="button">
                                {{- 'app.signout'|trans -}}
                                <i class="fas fa-sign-out ms-2"></i>
                            </a>
                        </p>
                    </div>
                    {%- block aside_inner %}
                        <div class="navbar-collapse">
                            <div id="menu-input-group-search" class="input-group">
                                <span class="input-group-text" id="menu-item-search">
                                    <i class="far fa-search"></i>
                                </span>
                                <select id="entity-search" type="text" class="form-control no-auto-select2" aria-describedby="menu-item-search"></select>
                            </div>
                            {{- render_menu('Cms\\Menu\\SidebarNavigation', "@ChamberOrchestraCms/menu/sidebar.html.twig") -}}
                        </div>
                    {%- endblock %}
                {%- endblock %}
            </aside>
            <main class="main mh-100 flex-shrink-1 flex-grow-1 bg-light" id="main">
                <header class="header bg-white p-2 pt-3">
                    <h1 class="mb-0 text-truncate" id="page-title">
                        {%- block page_title -%}
                            {{- page_title|default('') -}}
                        {%- endblock -%}
                </header>
                {%- if breadcrumbs is defined -%}
                    {%- include '@ChamberOrchestraCms/breadcrumbs/base.html.twig' with {breadcrumbs: breadcrumbs} only -%}
                {%- endif -%}

                {%- block main %}
                    <section class="content-section px-2">
                        {%- block content %}
                            <div class="card card-content">
                                {%- block content_header -%}
                                    <header class="card-header">
                                        <h2 class="card-title mb-0">
                                            {%- block content_title page_title|default("") %}
                                        </h2>
                                    </header>
                                {%- endblock -%}
                                {%- block content_nav %}
                                    {%- if (nav is defined and nav is not empty) or (bulk_nav is defined and bulk_nav is not empty) -%}
                                        <nav class="card-nav">
                                            {%- if nav is defined and nav is not empty -%}
                                                <div class="nav nav-card">
                                                    {{- render_menu(nav, '@ChamberOrchestraCms/menu/nav.html.twig') -}}
                                                </div>
                                            {%- endif -%}

                                            {%- if (bulk_nav is defined and bulk_nav is not empty) -%}
                                                <div id="bulk-nav" class="nav nav-card">
                                                    <i class="fad fa-fw fa-boxes-alt"></i>
                                                    {{- render_menu(bulk_nav, '@ChamberOrchestraCms/menu/nav.html.twig') -}}
                                                </div>
                                            {%- endif -%}
                                        </nav>
                                    {%- endif -%}
                                {%- endblock %}
                                {%- block content_body %}
                                    <article class="card-body">{%- block content_body_inner %}{%- endblock %}</article>
                                {%- endblock %}
                                {%- block content_footer %}
                                    <footer class="card-footer">{%- block content_footer_inner %}{%- endblock %}</footer>
                                {%- endblock %}

                            </div>
                            <div class="content-wrapper {{- aside_open|default(false) ? "aside-open" : "" -}}">
                                <div class="content-inner">
                                    <nav class="content-nav"></nav>
                                    <article class="content-body"></article>
                                    <footer class="content-footer"></footer>
                                </div>
                                {%- block content_aside -%}
                                {%- endblock -%}
                            </div>
                        {%- endblock %}
                    </section>
                {%- endblock %}
            </main>
        </div>
    {%- endblock %}
    {%- block javascripts %}{%- endblock %}
    {%- block modals %}{%- endblock %}
    {%- block toasts -%}
        <div class="toaster-container">
            {%- set prototype -%}
                {%- apply spaceless -%}
                    <div class="toast" role="status" data-bs-delay="5000">
                        <div class="toast-header position-relative">
                            <i class="fad fa-check-circle fa-fw me-2 text-success"></i>
                            <strong class="me-auto">{{- 'toast.success'|trans -}}</strong>
                            <button type="button" class="btn-close ms-2 mb-1" {#
                            #}data-bs-dismiss="toast" {#
                                    #}aria-label="{{ 'common.close'|trans }}">
                                <i class="far fa-times fa-fw"></i>
                            </button>
                        </div>
                        <div class="toast-body">__body__</div>
                    </div>
                {%- endapply -%}
            {%- endset -%}
            <div id="toaster-success" aria-live="polite" aria-atomic="true" data-prototype="{{ prototype|e }}">
                {%- for flash in app.flashes('success') -%}
                    {{- prototype|replace({'__body__': flash|trans})|raw -}}
                {%- endfor -%}
            </div>
            {%- set prototype -%}
                {%- apply spaceless -%}
                    <div class="toast bg-danger text-white" role="alert" data-bs-delay="5000">
                        <div class="toast-header position-relative">
                            <i class="fad fa-ban fa-fw me-2"></i>
                            <strong class="me-auto">{{- 'toast.error'|trans -}}</strong>
                            <button type="button" class="btn-close ms-2 mb-1" data-bs-dismiss="toast"
                                    aria-label="{{ 'common.close'|trans }}">
                                <i class="far fa-times fa-fw"></i>
                            </button>
                        </div>
                        <div class="toast-body">__body__</div>
                    </div>
                {%- endapply -%}
            {%- endset -%}
            <div id="toaster-error" aria-live="assertive" aria-atomic="true" data-prototype="{{ prototype|e }}">
                {%- for flash in app.flashes('danger') -%}
                    {{- prototype|replace({'__body__': flash|trans})|raw -}}
                {%- endfor -%}
            </div>
        </div>
    {%- endblock -%}
    </body>
    </html>
{%- endapply -%}