{%- extends '@ChamberOrchestraCms/crud/list.html.twig' -%}
{%- trans_default_domain translation_domain|default('cms') %}

{# @var fields array #}
{# @var label_format string #}

{%- block table_headings -%}
    {%- import '@ChamberOrchestraCms/macro/html.html.twig' as html -%}
    {%- set sort = app.request.query.get('sort') -%}
    {%- set order = app.request.query.get('order') -%}
    {%- set route = app.request.attributes.get('_route') -%}
    {%- set params = app.request.attributes.get('_route_params') -%}
    {%- set ASC = 'ASC' -%}
    {%- set DESC = 'DESC' -%}
    {%- for field in fields|keys -%}
        <th class="text-center text-nowrap {{ not app.request.cookies.get(class|replace({'\\': '_'}) ~ '_' ~field, 1) ? 'd-none' }}" data-heading="{{ field }}">
            {%- set val -%}
                {%- if alias[field] is defined -%}
                    <i class="{{ alias[field] }}" data-bs-toggle="tooltip" title="{{ html.field(field, label_format, translation_domain) }}"></i>
                {%- else -%}
                    {{ html.field(field, label_format, translation_domain) }}
                {%- endif -%}
            {% endset %}
            {%- if field in order_by -%}
                {%- set active = sort == field -%}
                <a href="{{ path(route, app.request.query.all | merge(params) | merge({sort: field, order: active ? (order == ASC ? DESC : ASC) : ASC}) ) }}" {#
                #} class="{{ not active ? 'text-dark' }}">
                    {{- val|raw -}}
                    {%- if active -%}
                        <i class="ms-1 fad fa-fw {{ order == ASC ? 'fa-arrow-square-down' : 'fa-arrow-square-up' }}"></i>
                    {%- else -%}
                        <i class="ms-1 far fa-fw fa-square"></i>
                    {%- endif -%}
                </a>
            {%- else -%}
                {{- val|raw -}}
            {%- endif -%}

        </th>
    {%- endfor -%}
{%- endblock -%}


{%- macro value(object, attributes) -%}
    {%- apply spaceless -%}
        {%- set attributes = attributes|split('.') -%}
        {%- set value = object -%}
        {%- for attribute in attributes -%}
            {%- set value = attribute(value, attribute|trim) is defined ? attribute(value, attribute|trim) : null -%}
        {%- endfor -%}
        {{- value -}}
    {%- endapply -%}
{% endmacro %}


{%- block value -%}
    {%- import '@ChamberOrchestraCms/macro/html.html.twig' as html -%}
    {%- import '@ChamberOrchestraImage/macro/image.html.twig' as image -%}
    {%- set col_attr = {class: 'text-start ', "data-input": field} -%}

    {%- set attributes = field|split('.') -%}
    {%- set value = entity -%}
    {%- for attribute in attributes -%}
        {%- if value is not null -%}
            {%- if _read(value, attribute) -%}
                {%- set value = _read(value, attribute) -%}
            {%- elseif attribute(value, 'translate') is defined and _read(value.translate, attribute) -%}
                {%- set value = _read(value.translate, attribute) -%}
            {%- else -%}
                {%- set value = null -%}
            {%- endif -%}
        {%- endif -%}
    {%- endfor -%}


    {%- set origin_value = value -%}
    {%- for format,options in formats -%}
        {%- if format == 'path' -%}
            {%- if options is instanceof('callable') -%}
                {%- set options = call(options, origin_value, entity) -%}
            {%- endif -%}
            {%- if options is instanceof('array') -%}
                {%- set value -%}
                    <a href="{{ path(options.route, options.route_params) }}">{{- value|raw -}}</a>
                {%- endset -%}
            {%- endif -%}
        {%- elseif format == 'badge' -%}
            {%- set col_attr = col_attr|merge({class: 'text-center table-shrink'}) -%}
            {%- set class_attr = 'primary' -%}
            {%- if options is instanceof('callable') -%}
                {%- set class_attr = call(options, origin_value, entity) -%}
            {%- endif -%}
            {%- set value -%}
                <span class="badge text-bg-{{ class_attr }}">{{- value|raw -}}</span>
            {%- endset -%}
        {%- elseif format == 'phone' -%}
            {%- set value = value|phone -%}
            {%- set col_attr = col_attr|merge({class: col_attr.class ~ ' text-nowrap small text-center fw-bolder'}) -%}
        {%- elseif format == 'trans' -%}
            {%- if options is instanceof('callable') -%}
                {%- set value = call(options, origin_value, entity) -%}
            {%- endif -%}
            {%- set value = value|trans -%}
        {%- elseif format == 'transform' -%}
            {%- for transformer in options -%}
                {# pass prev. value to support chains #}
                {%- set value = call(transformer, value, origin_value, entity) -%}
            {%- endfor -%}
        {%- elseif (format == 'inner' or format == 'array')  and value is instanceof('iterable') -%}
            {%- set value %}
                <table class="table mb-0 table-sm">
                    {%- for inner in value -%}
                        {%- with {fields: options, entity: inner} -%}
                            <tr>
                                {%- for field, formats in fields -%}
                                    {{ block('value') }}
                                {%- endfor -%}
                            </tr>
                        {%- endwith -%}
                    {%- endfor -%}
                </table>
            {%- endset -%}
        {%- elseif format == 'format_currency' -%}
            {%- set value = value|format_currency(options) -%}
            {%- set col_attr = col_attr|merge({class: col_attr.class ~ ' text-nowrap small text-center fw-bolder'}) -%}
        {%- elseif format == 'format_date' -%}
            {%- set value = value|format_date() -%}
            {%- set col_attr = col_attr|merge({class: col_attr.class ~ ' text-nowrap small text-center fw-bolder'}) -%}
        {%- elseif format == 'format_datetime' -%}
            {%- set value = value|format_datetime() -%}
            {%- set col_attr = col_attr|merge({class: col_attr.class ~ ' text-nowrap small text-center fw-bolder'}) -%}
        {%- elseif format == 'format_number' -%}
            {%- set value = value|format_number() -%}
            {%- set col_attr = col_attr|merge({class: col_attr.class ~ ' text-nowrap'}) -%}
        {%- elseif format == 'class' -%}
            {%- set col_attr = col_attr|merge({class: options}) -%}
        {%- elseif format == 'shrink' -%}
            {%- set col_attr = col_attr|merge({class: col_attr.class ~ ' table-shrink'}) -%}
        {%- elseif format == 'center' -%}
            {%- set col_attr = col_attr|merge({class: col_attr.class ~ ' text-center'}) -%}
        {%- elseif format == 'bold' -%}
            {%- set col_attr = col_attr|merge({class: col_attr.class ~ ' fw-bold'}) -%}
        {%- elseif format == 'nowrap' -%}
            {%- set col_attr = col_attr|merge({class: col_attr.class ~ ' text-nowrap'}) -%}
        {%- endif -%}
    {%- endfor -%}

    {%- if value is instanceof('string') -%}
        {%- set html_value = value -%}
    {%- elseif value is instanceof('\\Symfony\\Component\\HttpFoundation\\File\\File') -%}
        {%- set col_attr = col_attr|merge({class: 'table-shrink text-center fw-bold small'}) -%}
        {%- set html_value -%}
            {%- if value and value.file -%}
                {%- if value.image -%}
                    {%- set col_attr = col_attr|merge({class: col_attr.class ~ ' table-shrink'}) -%}
                    <a href="{{ asset(value.uri, 'file') }}" target="_blank">
                        {{- image.fill(value, 60,40) -}}
                    </a>
                {%- else -%}
                    <a href="{{ asset(value.uri, 'file') }}"
                       target="_blank">{{- value.extension|default('file')|upper -}}</a>
                {%- endif -%}
            {%- else -%}
                <span>
                    <i class="fas fa-fw fa-ban text-danger me-2"></i>
                    {{- 'common.file_deleted'|trans -}}
                </span>
            {%- endif -%}
        {%- endset -%}
    {%- elseif value is instanceof('DateTimeInterface') -%}
        {%- set html_value -%}
            <time class="small text-nowrap" datetime="{{ value|date('c') }}">{{- value|format_datetime -}}</time>
        {%- endset -%}
    {%- elseif value is instanceof('array') -%}
        {%- set html_value -%}
            <pre class="bg-light p-2 small fw-bold border mb-0">{{- value|yaml_encode(2) -}}</pre>
        {%- endset -%}
    {%- elseif value is instanceof('iterable') -%}
        {%- set html_value -%}
            <pre class="bg-light p-2 small fw-bold border mb-0 mt-2">{{- value|yaml_encode(2)|nl2br -}}</pre>
        {%- endset -%}
    {%- elseif value is instanceof('bool') -%}
        {%- set col_attr = col_attr|merge({class: 'table-shrink text-center'}) -%}
        {%- set html_value -%}
            {%- if value -%}
                <i class="fas fa-check-square text-success"></i>
            {%- else -%}
                <i class="far fa-square text-danger"></i>
            {%- endif -%}
        {%- endset -%}
    {%- else -%}
        {%- set html_value = value -%}
    {%- endif -%}
    {%- set col_attr = col_attr|merge({class: not app.request.cookies.get(class|replace({'\\': '_'}) ~ '_' ~field, 1) ? col_attr.class ~ ' d-none' : col_attr.class }) -%}
    <td {{ html.attributes(col_attr) }}>{{- html_value|raw -}}</td>
{%- endblock -%}

{%- block table_values -%}
    {%- for field, formats in fields -%}
        {{- block('value') -}}
    {%- endfor -%}
{%- endblock -%}


{%- block row_attributes -%}
    {%- if update is defined and update is not null -%}
        {%- set attr = attr|merge({"data-update-url": path(update.route, update.route_params|merge({id: entity.id})) }) -%}
    {%- endif -%}
    {{- parent() -}}
{%- endblock row_attributes -%}

{%- block modals -%}
    {{- parent() -}}
    <div id="update-form-container" style="display: none"></div>
{%- endblock -%}
